.card-image {
    width: 188px;
    height: 176px;
}

.imagen-pequena {
    cursor: pointer;
    width: 100%;
    height: 100%;
    /* Cambia el cursor al pasar sobre la imagen */
}

.imagen-grande {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-grande img {
    max-width: 90%;
    max-height: 90%;
}

/* estilo de iconos con texto */
.card__icons__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* iconos con texto */
.card__icons__container article p {
    margin-bottom: .35rem;
    font-weight: 500;
    font-size: .7rem;
    color: #393939;
}

/* info de iconos */
.card__icons__container article span {
    color: #514a4a;
    font-weight: 700;
    font-size: 1rem;
}


/* Fecha de Inicio */
.date__start__content {
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: .4rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #727272;
    font-weight: 500;
}

/* Imagen del Curso */
.imagen__curso__content {
    width: 100%;
}

.imagen__curso__content>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__button {
    background-color: #fff;
    transition: box-shadow .2s;
}


.card__button:hover {
    box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.5);
    /* Agregué un sombreado rojo cuando el cursor está encima */
}

.btn-outline-person {
    color: #0C244B;
    border-color: #0C244B;
}

.btn-outline-person:hover {
    color: #fff;
    background-color: #0C244B;
    border-color: #0C244B;
}

.btn-outline-person:focus,
.btn-outline-person.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-person.disabled,
.btn-outline-person:disabled {
    color: #0C244B;
    background-color: transparent;
}

.btn-outline-person:not(:disabled):not(.disabled):active,
.btn-outline-person:not(:disabled):not(.disabled).active,
.show>.btn-outline-person.dropdown-toggle {
    color: #fff;
    background-color: #0C244B;
    border-color: #0C244B;
}

.btn-outline-person:not(:disabled):not(.disabled):active:focus,
.btn-outline-person:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}